@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:wght@900&display=swap");

/* CSS reset */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  background-color: #e0e8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

/* Card */

main {
  width: 95%;
  background-color: #fff;
  border-radius: 20px;
}

#main-image {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

/* Card content */

div#card-content {
  padding: 30px 20px 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  color: hsl(223, 47%, 23%);
  margin-bottom: 20px;
}

#card-content p {
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  line-height: 1.5rem;
  width: 90%;
  margin-bottom: 25px;
}

div#order {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#plan {
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  font-size: 0.9rem;
}

div#annual-plan {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-left: 15px;
  letter-spacing: 0.5px;
}

div#annual-plan span:first-child {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

div#annual-plan span:last-child {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}

span#change {
  font-weight: 900;
}

a:hover {
  cursor: pointer;
  color: hsl(251, 94%, 66%);
  text-decoration: none;
}

button {
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 0;
  box-shadow: 0 15px 25px #c0c1f7;
  margin: 25px 0 30px 0;
}

button:hover {
  background-color: hsl(251, 94%, 66%);
  cursor: pointer;
}

p#cancel {
  font-weight: 900;
  width: auto;
}

p#cancel:hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
}

/* Footer */

.attribution {
  text-align: center;
  padding-top: 30px;
}

/* Narrow screen mobiles */

@media (max-width: 280px) {
  body {
    padding: 0 8px;
  }

  div#plan {
    font-size: 0.6rem;
  }
}

/* Medium, larger screens */

@media (min-width: 600px) {
  body {
    padding: 0;
    background: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #e0e8ff;
  }

  img#main-image {
    width: 450px;
  }

  main#card {
    width: 450px;
    box-shadow: 0 15px 25px 0 hsl(234, 83%, 84%);
  }

  div#card-content {
    padding: 30px 40px 8px 40px;
  }

  div#card-content p {
    width: 80%;
  }

  div#plan {
    font-size: 1rem;
    padding: 20px 30px;
  }

  div#annual-plan {
    margin-left: 20px;
  }
}
